@use '../../../styles/theme';

.login {
  height: 100vh;
  width: 100vw;
  @include theme.flex-center-center;

  .section {
    form {
      @include theme.flex-column-center-center;
      width: 350px;
      // height: 200px;
      padding: 20px;

      .fields {
        width: 250px;
      }

      button {
        margin-top: 10px;
        width: 50%;
      }
    }
  }
}
