@use '../../../styles/main';

.pagination {
  padding: 10px 0;

  .itemPerPageContainer {
    @include main.flex-between-center;
  }

  .paginationBtnContainer {
    width: 100%;
    @include main.flex-center-center;

    .paginationBtn {
      @include main.flex-center-center;
      width: 24px;
      height: 24px;
      margin: 0 2px;
      padding: 10px;
      cursor: pointer;

      &.selected {
        color: var(--color-foreground);
        font-weight: 700;
        width: 30px;
        height: 30px;
      }
    }
  }
}
