@use '../../../../styles/main';

.itemCard {
  @include main.flex-center-center;

  .imageContainer {
    width: 30px;
    @include main.flex-center-center;

    img {
      height: 60px;
      width: auto;
      margin-right: 10px;
    }
  }
}
