@import '../../../../styles/main';

.manageTypeLayout {
  h1 {
    margin-bottom: 20px;
  }
  .manageTypePage {
  }

  .buttonContainer {
    margin-top: 40px;
    width: 100%;
    text-align: center;
  }
}
