@import '../../../../../scss/main';

.pedCardBalanceContainer {
  .currentValue {
    margin-bottom: 20px;

    span {
      font-weight: 700;
    }
  }

  fieldset {
    width: 200px;
  }

  .buttonContainer {
    margin-top: 20px;
    @include flex-center-center;
  }
}
