@use '../../../scss/main';

.loginPage {
  @include main.flex-center-center;

  .section {
    width: 400px;
    height: 200px;
    padding: 20px;

    .form {
      @include main.flex-center-center-column;
      .input {
        width: 240px;
      }
    }
  }
}
