@use '../../../../styles/main';

.formButtonContainer {
  @include main.flex-center-center;
  width: 100%;

  button {
    margin: 5px;
    width: 45%;
  }

  &.singleBtn {
    button {
      width: 60%;
    }
  }
}
