@import '../../styles/main';

.searchItemEngine {
  .itemDetail {
    @include flex-center-center;
    height: 80px;
    width: 100%;
  }
  .cardDetail {
    @include flex-between-center;
    height: 80px;
    width: 80%;
  }
  .selectContainer {
    @include flex-around-center;
    width: 100%;

    .selects {
      width: 30%;
      select {
        width: 100%;
      }
    }
  }
}
