@import '../../styles/main';

.searchItemEngine {
  .itemDetail {
    @include flex-center-center;
    height: 80px;
    width: 100%;
  }
  .cardDetail {
    height: 80px;
    width: 50%;
  }
  .selectContainer {
    @include flex-around-center;
    width: 100%;
  }
}
