@mixin flex-start-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
@mixin flex-start-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin flex-around-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@mixin flex-end-center {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@mixin flex-column-center-center {
  @include flex-center-center;
  flex-direction: column;
}
@mixin flex-column-start-start {
  @include flex-start-start;
  flex-direction: column;
}

@mixin flex-column-start-center {
  @include flex-start-center;
  flex-direction: column;
}
