@use '../../../styles/main';

.navigation {
  flex: 1;
  height: main.$headerHeight;

  > ul {
    @include main.flex-end-center;
  }
  // @include flex-column-start-start;

  .dropdownElement {
    min-width: 100px;
    height: 100%;

    .label {
      @include main.flex-center-center;
      cursor: pointer;
      height: $headerHeight;
      padding: 5px;

      &:not(.subElement) {
        font-weight: 600;
      }

      &.subElement {
        @include main.flex-column-start-start;
        height: unset;
      }
    }

    > ul {
      background-color: main.$dropdownHover;
      position: absolute;
      display: none;
    }

    &:hover {
      .label {
        &:not(.subElement) {
          background-color: main.$dropdownHover;
        }

        &.subElement:hover {
          background-color: main.$dropdownSubMenu;
        }
      }

      > ul {
        @include main.flex-column-start-start;
        box-shadow: $dropdownShadow;
      }
    }
  }
}
