@import '../../../../styles/main';

.itemTypeTable {
  width: 50%;

  tbody {
    tr {
      td:nth-child(1) {
        width: 40%;
      }
      td:nth-child(2) {
        width: 10%;
      }
      td:nth-child(3) {
        width: 20%;
      }
    }
  }
}
